In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import csv

# Naheed scrapping

In [10]:
naheed_data= []
for i in range(1,6):
    
    url = "https://www.naheed.pk/phones-tablets/smartphones?p="+str(i)
    r = requests.get(url)
    #print(r)

    soup = BeautifulSoup(r.text,"lxml")
    #print(soup)
    
    #print(url)
    
    names = soup.find_all("a",class_ = "product-item-link")
    titles = [a['title'] for a in names]
    prices = soup.find_all("span", class_="price")
    
    for name, price in zip(names, prices):
        product_name = name['title']
        price_text = price.text
        # Remove "Rs." and commas, then convert to a float
        #product_price = float(price_text.replace('Rs. ', '').replace(',', ''))
        print(f"Product Name: {product_name}")
        print(f"Product Price: {price_text}")
        naheed_data.append({"Product Name": product_name, "Product Price": price_text})

        

#     for title in titles:
#         print(title)
        
#     for price in prices:
#         price_text = price.text
#         # Remove "Rs." and commas, then convert to a float
#         price = float(price_text.replace('Rs. ', '').replace(',', ''))
#         print(price)

Product Name: Xiaomi Redmi Note 12S 8GB/256GB Smart Phone, Onyx Black
Product Price: Rs. 74,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB, Mint Green, Mobile Set
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Silver
Product Price: Rs. 114,999.00
Product Name: Samsung Galaxy A24 8/128GB, Light Green, Mobile Set
Product Price: Rs. 79,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB Smart Phone, Ice Blue
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Graphite
Product Price: Rs. 114,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Graphite Gray, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A04S 4/128GB Smart Phone, Copper
Product Price: Rs. 43,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Ocean Blue, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Xiaomi Redmi 12C 4/128GB Mobile Set, Mint Green
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A54 5G 8/256GB Mobile Set, Awesome Graphite
Product Price: Rs. 140,999.00
Product Name: Samsung Galaxy Z Fold 4 12GB/256GB Smartphone, Gray Green
Product Price: Rs. 540,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Blue
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Blue
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy S22 Ultra 12GB/256GB Smartphone, Green
Product Price: Rs. 425,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Gray Green
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Grey
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Purple
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Phantom Black
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy A13 4GB/64GB Smartphone, Black
Product Price: Rs. 58,000.00
Product Name: Xiaomi Redmi Note 12S 8GB/256GB Smart Phone, Onyx Black
Product Price: Rs. 74,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB, Mint Green, Mobile Set
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Silver
Product Price: Rs. 114,999.00
Product Name: Samsung Galaxy A24 8/128GB, Light Green, Mobile Set
Product Price: Rs. 79,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB Smart Phone, Ice Blue
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Graphite
Product Price: Rs. 114,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Graphite Gray, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A04S 4/128GB Smart Phone, Copper
Product Price: Rs. 43,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Ocean Blue, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Xiaomi Redmi 12C 4/128GB Mobile Set, Mint Green
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A54 5G 8/256GB Mobile Set, Awesome Graphite
Product Price: Rs. 140,999.00
Product Name: Samsung Galaxy Z Fold 4 12GB/256GB Smartphone, Gray Green
Product Price: Rs. 540,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Blue
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Blue
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy S22 Ultra 12GB/256GB Smartphone, Green
Product Price: Rs. 425,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Gray Green
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Grey
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Purple
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Phantom Black
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy A13 4GB/64GB Smartphone, Black
Product Price: Rs. 58,000.00
Product Name: Xiaomi Redmi Note 12S 8GB/256GB Smart Phone, Onyx Black
Product Price: Rs. 74,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB, Mint Green, Mobile Set
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Silver
Product Price: Rs. 114,999.00
Product Name: Samsung Galaxy A24 8/128GB, Light Green, Mobile Set
Product Price: Rs. 79,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB Smart Phone, Ice Blue
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Graphite
Product Price: Rs. 114,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Graphite Gray, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A04S 4/128GB Smart Phone, Copper
Product Price: Rs. 43,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Ocean Blue, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Xiaomi Redmi 12C 4/128GB Mobile Set, Mint Green
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A54 5G 8/256GB Mobile Set, Awesome Graphite
Product Price: Rs. 140,999.00
Product Name: Samsung Galaxy Z Fold 4 12GB/256GB Smartphone, Gray Green
Product Price: Rs. 540,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Blue
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Blue
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy S22 Ultra 12GB/256GB Smartphone, Green
Product Price: Rs. 425,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Gray Green
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Grey
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Purple
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Phantom Black
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy A13 4GB/64GB Smartphone, Black
Product Price: Rs. 58,000.00
Product Name: Xiaomi Redmi Note 12S 8GB/256GB Smart Phone, Onyx Black
Product Price: Rs. 74,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB, Mint Green, Mobile Set
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Silver
Product Price: Rs. 114,999.00
Product Name: Samsung Galaxy A24 8/128GB, Light Green, Mobile Set
Product Price: Rs. 79,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB Smart Phone, Ice Blue
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Graphite
Product Price: Rs. 114,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Graphite Gray, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A04S 4/128GB Smart Phone, Copper
Product Price: Rs. 43,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Ocean Blue, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Xiaomi Redmi 12C 4/128GB Mobile Set, Mint Green
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A54 5G 8/256GB Mobile Set, Awesome Graphite
Product Price: Rs. 140,999.00
Product Name: Samsung Galaxy Z Fold 4 12GB/256GB Smartphone, Gray Green
Product Price: Rs. 540,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Blue
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Blue
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy S22 Ultra 12GB/256GB Smartphone, Green
Product Price: Rs. 425,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Gray Green
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Grey
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Purple
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Phantom Black
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy A13 4GB/64GB Smartphone, Black
Product Price: Rs. 58,000.00
Product Name: Xiaomi Redmi Note 12S 8GB/256GB Smart Phone, Onyx Black
Product Price: Rs. 74,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB, Mint Green, Mobile Set
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Silver
Product Price: Rs. 114,999.00
Product Name: Samsung Galaxy A24 8/128GB, Light Green, Mobile Set
Product Price: Rs. 79,999.00
Product Name: Xiaomi Redmi Note 12 8/128GB Smart Phone, Ice Blue
Product Price: Rs. 54,999.00
Product Name: Samsung Galaxy A34 5G 8/256GB Smart Phone, Awesome Graphite
Product Price: Rs. 114,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Graphite Gray, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A04S 4/128GB Smart Phone, Copper
Product Price: Rs. 43,999.00
Product Name: Xiaomi Redmi 12C 4/128GB, Ocean Blue, Mobile Set
Product Price: Rs. 27,999.00
Product Name: Xiaomi Redmi 12C 4/128GB Mobile Set, Mint Green
Product Price: Rs. 27,999.00
Product Name: Samsung Galaxy A54 5G 8/256GB Mobile Set, Awesome Graphite
Product Price: Rs. 140,999.00
Product Name: Samsung Galaxy Z Fold 4 12GB/256GB Smartphone, Gray Green
Product Price: Rs. 540,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Blue
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Blue
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy S22 Ultra 12GB/256GB Smartphone, Green
Product Price: Rs. 425,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Gray Green
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, Grey
Product Price: Rs. 367,000.00
Product Name: Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, Purple
Product Price: Rs. 333,000.00
Product Name: Samsung Galaxy Z Fold 4 12GB/512GB Smartphone, Phantom Black
Product Price: Rs. 575,000.00
Product Name: Samsung Galaxy A13 4GB/64GB Smartphone, Black
Product Price: Rs. 58,000.00

saving in csv

In [11]:
df = pd.DataFrame(naheed_data, columns = ["Product Name", "Product Price"])
print(df)

                                         Product Name   Product Price
0   Xiaomi Redmi Note 12S 8GB/256GB Smart Phone, O...   Rs. 74,999.00
1   Xiaomi Redmi Note 12 8/128GB, Mint Green, Mobi...   Rs. 54,999.00
2   Samsung Galaxy A34 5G 8/256GB Smart Phone, Awe...  Rs. 114,999.00
3   Samsung Galaxy A24 8/128GB, Light Green, Mobil...   Rs. 79,999.00
4   Xiaomi Redmi Note 12 8/128GB Smart Phone, Ice ...   Rs. 54,999.00
..                                                ...             ...
95  Samsung Galaxy Z Fold 4 12GB/512GB Smartphone,...  Rs. 575,000.00
96  Samsung Galaxy Z Flip 4 8GB/512GB Smartphone, ...  Rs. 367,000.00
97  Samsung Galaxy Z Flip 4 8GB/256GB Smartphone, ...  Rs. 333,000.00
98  Samsung Galaxy Z Fold 4 12GB/512GB Smartphone,...  Rs. 575,000.00
99      Samsung Galaxy A13 4GB/64GB Smartphone, Black   Rs. 58,000.00

[100 rows x 2 columns]

In [12]:
writer_n = pd.ExcelWriter('naheed_data.xlsx')
df.to_excel(writer_n,'Sheet1')
writer_n.save()

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   100 non-null    object
 1   Product Price  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [21]:
df.head()

                                        Product Name   Product Price
0  Xiaomi Redmi Note 12S 8GB/256GB Smart Phone, O...   Rs. 74,999.00
1  Xiaomi Redmi Note 12 8/128GB, Mint Green, Mobi...   Rs. 54,999.00
2  Samsung Galaxy A34 5G 8/256GB Smart Phone, Awe...  Rs. 114,999.00
3  Samsung Galaxy A24 8/128GB, Light Green, Mobil...   Rs. 79,999.00
4  Xiaomi Redmi Note 12 8/128GB Smart Phone, Ice ...   Rs. 54,999.00

In [33]:
df["Product Price"].dtype

dtype('O')

In [35]:
column_name = "Product Price"
df[column_name] = df[column_name].str.replace('Rs.', '').str.replace(',', '', regex=True).astype(float)

C:\Users\FIVEST~1\AppData\Local\Temp/ipykernel_4776/344749516.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column_name] = df[column_name].str.replace('Rs.', '').str.replace(',', '', regex=True).astype(float)

In [36]:
df.head()

                                        Product Name  Product Price
0  Xiaomi Redmi Note 12S 8GB/256GB Smart Phone, O...        74999.0
1  Xiaomi Redmi Note 12 8/128GB, Mint Green, Mobi...        54999.0
2  Samsung Galaxy A34 5G 8/256GB Smart Phone, Awe...       114999.0
3  Samsung Galaxy A24 8/128GB, Light Green, Mobil...        79999.0
4  Xiaomi Redmi Note 12 8/128GB Smart Phone, Ice ...        54999.0

In [37]:
df["Product Price"].dtype

dtype('float64')

# Shophive scrapping

In [3]:
shophive_data = []
for i in range(1,3):
    url = "https://www.shophive.com/mobile-phones?p="+str(i)
    r = requests.get(url)
    #print(r)

    soup = BeautifulSoup(r.text,"lxml")
    #print(soup)
    #url = "https://www.shophive.com/mobile-phones?p="+str(i)
    #print(url)
    
    names = soup.find_all("a",class_ = "product-item-link")
    titles = [a['title'] for a in names]
    prices = soup.find_all("span", class_="price")
    
    for name, price in zip(names, prices):
        product_name_s = name['title']
        price_text_s = price.text
        # Remove "Rs." and commas, then convert to a float
        #product_price = float(price_text.replace('Rs. ', '').replace(',', ''))
        print(f"Product Name: {product_name_s}")
        print(f"Product Price: {price_text_s}")
        shophive_data.append({"Product Name": product_name_s, "Product Price": price_text_s})

Product Name: Infinix Note 30 VIP 8GB 256GB
Product Price: Rs 33,999.00
Product Name: iTel S23 8GB 256GB
Product Price: Rs 29,999.00
Product Name: iTel S23 8GB 128GB
Product Price: Rs 30,999.00
Product Name: ZTE Blade A51 2GB 64GB
Product Price: Rs 21,999.00
Product Name: Honor X6 4GB 64GB
Product Price: Rs 34,999.00
Product Name: Sparx S6 2GB 32GB
Product Price: Rs 40,999.00
Product Name: Tecno Spark 10c 4GB 128GB
Product Price: Rs 16,299.00
Product Name: Infinix Smart 7 4GB 64GB
Product Price: Rs 29,999.00
Product Name: iTel A26 2GB 32GB
Product Price: Rs 25,999.00
Product Name: Sparx Neo 7 3GB 64GB
Product Price: Rs 22,499.00
Product Name: Sparx Neo 5 2GB 32GB
Product Price: Rs 24,499.00
Product Name: VNUS Sky 1 2GB 32GB
Product Price: Rs 21,499.00
Product Name: Digit Glory 1 2GB 32GB
Product Price: Rs 23,499.00
Product Name: VNUS SE22 3GB 64GB
Product Price: Rs 16,999.00
Product Name: Itel A60S 4GB 128GB
Product Price: Rs 17,499.00
Product Name: iTel It9010
Product Price: Rs 27,999.00
Product Name: iTel Value 110
Product Price: Rs 2,999.00
Product Name: Oneplus 10 Pro 5G 12GB 256GB
Product Price: Rs 189,999.00
Product Name: Oneplus 10 Pro 5G 12GB 512GB
Product Price: Rs 198,999.00
Product Name: Google Pixel 6 8GB 128GB
Product Price: Rs 34,999.00
Product Name: Dcode Bold 2 4GB 64GB
Product Price: Rs 249,999.00
Product Name: Google Pixel 7 8GB 128GB
Product Price: Rs 259,999.00
Product Name: Google Pixel 7 Pro
Product Price: Rs 23,999.00
Product Name: iTel P17 Pro 2GB 32GB
Product Price: Rs 32,999.00
Product Name: iTel Vision 3
Product Price: Rs 3,999.00
Product Name: iTel IT9010 4G
Product Price: Rs 2,999.00
Product Name: iTel Value 100
Product Price: Rs 4,599.00
Product Name: iTel Muzik 400
Product Price: Rs 4,299.00
Product Name: iTel Muzik 410 Pro
Product Price: Rs 20,999.00
Product Name: Redmi A2+ 3GB 64GB
Product Price: Rs 22,999.00
Product Name: Xiaomi Redmi 12C 4GB 128GB
Product Price: Rs 26,799.00
Product Name: Samsung Galaxy A04s 4GB 128GB
Product Price: Rs 33,999.00

saving in csv

In [4]:
dfs = pd.DataFrame(shophive_data, columns = ["Product Name", "Product Price"])
print(dfs)

                     Product Name  Product Price
0   Infinix Note 30 VIP 8GB 256GB   Rs 33,999.00
1              iTel S23 8GB 256GB   Rs 29,999.00
2              iTel S23 8GB 128GB   Rs 30,999.00
3          ZTE Blade A51 2GB 64GB   Rs 21,999.00
4               Honor X6 4GB 64GB   Rs 34,999.00
5               Sparx S6 2GB 32GB   Rs 40,999.00
6       Tecno Spark 10c 4GB 128GB   Rs 16,299.00
7        Infinix Smart 7 4GB 64GB   Rs 29,999.00
8               iTel A26 2GB 32GB   Rs 25,999.00
9            Sparx Neo 7 3GB 64GB   Rs 22,499.00
10           Sparx Neo 5 2GB 32GB   Rs 24,499.00
11            VNUS Sky 1 2GB 32GB   Rs 21,499.00
12         Digit Glory 1 2GB 32GB   Rs 23,499.00
13             VNUS SE22 3GB 64GB   Rs 16,999.00
14            Itel A60S 4GB 128GB   Rs 17,499.00
15                    iTel It9010   Rs 27,999.00
16                 iTel Value 110    Rs 2,999.00
17   Oneplus 10 Pro 5G 12GB 256GB  Rs 189,999.00
18   Oneplus 10 Pro 5G 12GB 512GB  Rs 198,999.00
19       Google Pixel 6 8GB 128GB   Rs 34,999.00
20          Dcode Bold 2 4GB 64GB  Rs 249,999.00
21       Google Pixel 7 8GB 128GB  Rs 259,999.00
22             Google Pixel 7 Pro   Rs 23,999.00
23          iTel P17 Pro 2GB 32GB   Rs 32,999.00
24                  iTel Vision 3    Rs 3,999.00
25                iTel IT9010 4G     Rs 2,999.00
26                 iTel Value 100    Rs 4,599.00
27                 iTel Muzik 400    Rs 4,299.00
28             iTel Muzik 410 Pro   Rs 20,999.00
29             Redmi A2+ 3GB 64GB   Rs 22,999.00
30     Xiaomi Redmi 12C 4GB 128GB   Rs 26,799.00
31  Samsung Galaxy A04s 4GB 128GB   Rs 33,999.00

In [5]:
writer_s = pd.ExcelWriter('shophive_data.xlsx')
dfs.to_excel(writer_s,'Sheet1')
writer_s.save()

In [6]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   32 non-null     object
 1   Product Price  32 non-null     object
dtypes: object(2)
memory usage: 640.0+ bytes

In [7]:
dfs.head()

                    Product Name Product Price
0  Infinix Note 30 VIP 8GB 256GB  Rs 33,999.00
1             iTel S23 8GB 256GB  Rs 29,999.00
2             iTel S23 8GB 128GB  Rs 30,999.00
3         ZTE Blade A51 2GB 64GB  Rs 21,999.00
4              Honor X6 4GB 64GB  Rs 34,999.00

In [8]:
dfs.tail()

                     Product Name Product Price
27                 iTel Muzik 400   Rs 4,299.00
28             iTel Muzik 410 Pro  Rs 20,999.00
29             Redmi A2+ 3GB 64GB  Rs 22,999.00
30     Xiaomi Redmi 12C 4GB 128GB  Rs 26,799.00
31  Samsung Galaxy A04s 4GB 128GB  Rs 33,999.00

In [9]:
dfs["Product Price"].dtype

dtype('O')

In [10]:
column_name = "Product Price"
dfs[column_name] = dfs[column_name].str.replace('Rs', '').str.replace(',', '', regex=True).astype(float)

In [11]:
dfs["Product Price"].dtype

dtype('float64')

# Experiments

In [15]:
print(len(names))

32

In [2]:
url = "https://www.naheed.pk/tv-home-appliances/kitchen-appliances"
print(url)

https://www.naheed.pk/tv-home-appliances/kitchen-appliances

In [4]:
r = requests.get(url)
print(r)

soup = BeautifulSoup(r.text,"lxml")
#print(soup)

<Response [200]>

In [5]:
names = soup.find_all("a",class_ = "product-item-link")
titles = [a['title'] for a in names]

for title in titles:
    print(title)

Gaba National 2-In-1 Blender & Grinder, 350W, GN-2817
Philips Food Processor, 800W, HR7510/00
Panasonic Stand Mixer, 175W, White, MK-GH3
DeLonghi Dedica Coffee Grinder, KG-520.M
Panasonic Blender, 600W, Black, MX-SS40
DeLonghi Stainless Steel Conical Burr Coffee Grinder, KG-521.M
Philips Daily Collection Juicer, 300W, HR-1811/71
Panasonic Chef Kitchen Machine, 1000W, MK-CM300
Braun Minipimer-7 Hand Blender, MQ-7035X
Philips 3000 Series Pres Cooker, 1300W, 6 Liters, HR-2237/73
Philips Viva Collection 800W, 2 Liters, HR-1855/70
Panasonic Juicer/Blender, 1000W, S(Silver) MJ-CB800STN
West Point Deluxe Easy Air Fryer, XL WF-4257 (With FREE Cordless Kettle)
Nespresso Creatista Plus Machine, CP-PK-Aluminum-IL-NE (BNE800)
Nespresso Zenius Pro Machine, Matt Black, 9737
Nespresso Creatista Pro Machine, CP-PK-Aluminum-IL-NE (SNE900)
Nespresso Citiz & Milk Mechine, Red, XN7615.21
Nespresso Aeroccino 3 Milk Frother, 3694-EU-WH
Nespresso Citiz & Milk Machine, Black, EN267.BAE
Nespresso Citiz Mechine, Black, D113-EU-BK-NE2
Nespresso Gran Lattissima Machine, EN640.B
Nespresso Gran Lattissima Machine, F531-ME-WH-NE
Sayona Hand Mixer With Rotating Bowl, 4 Liters, 250-300W, SHM-4358
Sanford Meat Grinder, 2500W, SF5856MG
Braun Tribute Collection Citrus Juicer, Black, CJ-3000BK
Kenwood Blender, 2 Liters, 500W, BLP-15.150WH
Gaba National Hot & Cold-Water Dispenser, Black, GND-0919
Gaba National Multifunctional Electric Frying Pan, 1500W, GN-143/22
Sanford Food Steamer, 1000W, SF-5754FS
Sanford Air Fryer Oven, 1700W, 22 Liters, SF-5612EO
Nikai Toaster With 7 Detachable Plates, 750W, NGT-727D
Panasonic Food Processor 9-In-1, 800W, K-Black, MK-F510KTZ

In [ ]:
csv_file2 = "product_data_shophive.csv"
with open(csv_file2, 'w', newline='') as csvfile:
    fieldnames = ["Product Name", "Product Price"]
    writer2 = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer2.writeheader()  # Write the header row
    for row in data:
        writer2.writerow(row)  # Write data rows

In [ ]:
csv_file = "product_data_naheed.csv"
with open(csv_file, 'w', newline='') as csvfile:
    fieldnames = ["Product Name", "Product Price"]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()  # Write the header row
    for row in data:
        writer.writerow(row)  # Write data rows